div(class="footer")
  div(class="nav_wrapper links_container")
    ul
      li(class="column")
        span
          strong MATCHESFASHION.COM
        ul
          li About Us
          li Careers
          li Affiliates
          li Terms and Conditions
          li Cookie Policy

      li(class="column")
        span
          strong Help
        ul
          li Contact us
          li FAQ

      li(class="column")
        span
          strong Services
        ul
          li MyStylist
          li Private Shopping

      li(class="column")
        span
          strong Stores
        ul
          li Marylebone
          li Notting Hill
          li Wimbledon

      li(class="clear")

  div(class="closing")
    div
      span
        strong Shipping to
        span Italy

      span
        strong Customer Services
        span +44 (0)20 7022 0828


    div
      span
        p Copyright 2016-2017
        p MATCHESFASHION.COM
