div(class='header')
  div(class='top')
    span MEN
    span
      h1 MATCHESFASHION.COM
    span WOMEN
  div(class='nav_wrapper')
    ul(class='nav')
      li JUST IN
      li SHOP
      li DESIGNERS
      li THE STYLE REPORT
      li SHOP BY..
      li STUDIOS
      li SALE
