html
  head
    title= title
    link(rel='stylesheet', href='/main.css')
  body
    div(class='wrapper')
      include includes/header.pug
      span(class='pulldown') &nbsp;
      div(id="root")
      include includes/footer.pug
      script(src='/build.js')
